.messageContainer {
  padding: 0 6px;
}

.message {
  font-size: small;
  font-weight: bold;
}

.message.success {
  color: green;
}

.message.warning {
  color: orange;
}

.message.error {
  color: brown;
}