input, input:focus {
  border: none;
  outline: none;
}

.inputContainer {
    position: relative;
    display: flex;
    width: 100%;
    outline: none;
    color: #7C9D96;
    border: 1px solid #468B97;
    border-radius: 6px;
    background: rgb(161, 204, 209);
    transition: border-color, color, background .3s ease-out;
  }

.label {
    display: inline-flex;
    align-items: center;
    flex-shrink: 0;
    padding: 0 6px;
    border-radius: 6px 0 0 6px;
    transition: color .3s ease;
}
.inputContainer:focus-within {
  color: #2E8A99;
  border-color: #2E8A99;
  background: rgb(161, 204, 209, 0.7);
}

.customInput {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 0 6px 6px 0;
}