.App {
  display: flex;
  justify-content: center;
  opacity: 0.95;
  align-items: center;
  height: 100vh;
  background: linear-gradient(to bottom right, 
    #1D5B79,
    #468B97,
    #EF6262,
    #F3AA60
  );
}
